body {
  height: 750px;
  width: 500px;
  /*outline: #e0ebeb solid 2px;*/
  padding: 50px;
  margin: auto;
  line-height: 25px;
}
h1 {
  margin: 0 auto;
  text-align: center;
}
img {
  display: block;
  margin: 30px auto 0 auto;
  height: 150px;
  width: 128px;
}
p {
    text-indent: 15px;
}
a {
  margin-left: 15px;
}
