@media screen and (min-width:480px) and (max-width: 767px) {

    .container {
        width: 89.5833333%;
        background-color: rgba(255, 0, 0, 0.5);
    }

    header {
        padding-bottom: 35px;
    }

    .header-nav-menu {
        width: 58.1395349%;
        margin: 0 auto;
    }
    .slider {
        height: 245px;
        background: rgba(50, 50, 50, 0.5);
    }

    .slider-content {
        width: 47.511628%;
        float: left;
        margin-top: 90px;
        margin-left: 2%;
    }

    .image-wrapper{
        display: block;
        margin-right: 20%;
    }

    .image__phone {
        position: absolute;
    }

    .image__phone--blur {
        right: 23%;
        float: right;
        height: 63.2653061%;
        top: 36px;
        margin-right: 8%;;
    }

    .image__phone--sharp {
        height: 110%;
        float: right;
        top: -10px;
    }

    .image__phone--play {
        height: 22.4489796%;
        float: right;
        margin-left: 40px;
        margin-top: 93px;
    }

    .bullet-container {
        margin-top: 25px;
    }

    .categories {
        display: block;
    }


}

@media screen and (min-width:768px) and (max-width: 959px) {

    .container {
        background-color:  rgba(255, 103, 65, 0.66);
    }
    .categories {
        display: block;
    }

}

@media screen and (min-width:960px){

    .container {
        background-color:  rgba(255, 103, 250, 0.66);
    }

    .categories {
        display: block;
    }

    .slider__arrow__wrapper {
        width: 75%;
    }
}
