@font-face {
    font-family: "Legue Gothic Regular";
    src: url('../fonts/LeagueGothic/LeagueGothicRegular.eot');
    src: url('../fonts/LeagueGothic/LeagueGothicRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LeagueGothic/LeagueGothicRegular.woff') format('woff'),
    url('../fonts/LeagueGothic/LeagueGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyriadPro Regular";
    src :url('../fonts/MyriadPro/MyriadProRegular.eot');
    src: url('../fonts/MyriadPro/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyriadProLight";
    src :url('../fonts/MyriadPro_light/myriadpro-light-webfont.eot');
    src: url('../fonts/MyriadPro_light/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro_light/myriadpro-light-webfont.woff') format('woff'),
    url('../fonts/MyriadPro_light/myriadpro-light-webfont.ttf') format('truetype'),
    url('../fonts/MyriadPro_light/myriadpro-light-webfont.svg#MyriadProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family:Arial, sans-serif;
    font-size: 16px;
}

header {
    background: url(../img/background_320px.jpg) no-repeat;
    text-align: center;
    padding-bottom: 21.875%;
    border-bottom:  1px solid #262526;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 69.7368421%;
    margin: 0% auto 0;
}

.header {
    font-family:  "Legue Gothic Regular";
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    padding-top: 21.5%;

}

.header--ER {
    font-family: inherit;
}

.menu--head {
    margin-top: 6.875%;
}

.menu__link {
    color: white;
    font-family: "Legue Gothic Regular";
    font-size: 1.5em;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom:  2px solid #d899e8;
}

.menu__item:nth-child(1n+2) {
    display: none;
}

.menu__item:hover{
    display: block;
}

.slider {
    margin-top: 35%;
    position: relative;
}

.arrow {
    position: absolute;
    background: url(../img/sprite_icon.png) 0 0 no-repeat;
    width: 37px;
    height: 40px;
}

.arrow--right {
    left: 90.625%;
    background: url(../img/sprite_icon.png) -43px 0 no-repeat;
}


.header--slider2{
    font-family: "Legue Gothic Regular";
    font-size: 1.875em;
    text-transform: capitalize;
    color: #fff;
}

.header--slider3 {
    font-family: "Legue Gothic Regular";
    font-size: 1em;
    text-transform: uppercase;
    color:  #d899e8;
}

.slider-content p {
    display: none;
}

.image-wrapper {
    display: none;
}

.bullet-container {
    margin-top: 25.9375%;
}

.bullet {
    height: 10px;
    width: 10px;
    background: rgba(50, 50, 50, 0.5);
    border-radius: 5px;
    display: inline-block;

}

.bullet-inner {
    height: 6px;
    width: 6px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(96%,        rgba(209,209,209,1)), color-stop(100%, rgba(219,219,219,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',    GradientType=0 );
    border-radius: 3px;
    margin-top: 15%;
    margin-left: 20%;
}
