@font-face {
    font-family: "Legue Gothic Regular";
    src: url('../fonts/LeagueGothic/LeagueGothicRegular.eot');
    src: url('../fonts/LeagueGothic/LeagueGothicRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LeagueGothic/LeagueGothicRegular.woff') format('woff'),
    url('../fonts/LeagueGothic/LeagueGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyriadPro Regular";
    src :url('../fonts/MyriadPro/MyriadProRegular.eot');
    src: url('../fonts/MyriadPro/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyriadProLight";
    src :url('../fonts/MyriadPro_light/myriadpro-light-webfont.eot');
    src: url('../fonts/MyriadPro_light/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro_light/myriadpro-light-webfont.woff') format('woff'),
    url('../fonts/MyriadPro_light/myriadpro-light-webfont.ttf') format('truetype'),
    url('../fonts/MyriadPro_light/myriadpro-light-webfont.svg#MyriadProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family:Arial, sans-serif;
    font-size:16px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    width: 68%;
    margin: 0 auto;
}

.content-wrapper{
    margin: 0 auto;
    width: 782px;
}

.content-wrapper--header {
    padding-top: 1.7%;
    padding-bottom: 6.8%;
}



header {
    background: url('../img/background.jpg');
    padding-bottom: -29px;
    background-position: center;
}

.logo-name{
    font-family: "Legue Gothic Regular";
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 100;
    color: white;
    float: left;
    letter-spacing: -0.03em;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
}

.logo-name--decor{
    font-family: "Legue Gothic Regular";
    background: rgba(116,80,131,1);
background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
color: transparent;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

nav {
    float:left;
    margin-left:18%;
    padding-top:1%;
    width:66%;
}

.menu__item {
    display: inline-block;
    padding-bottom: 0.6%;
}

.item__link {
    font-family: "Legue Gothic Regular";
    font-size: 1.19em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
}
.head--menu__item{
    margin-right: 7.5%;
}

.head--menu__item:hover{
    border-bottom:  1px solid #edbfff;
}

.section-wrapper{
    background: rgba(50, 50, 50, 0.5);
}

.content-wrapper--slider{
    width: 50%;
    padding-top: 2em;
    float: left;

}
.slider__content h2 {
    font-family: "Legue Gothic Regular";
    font-size: 2.9em;
    color: white;
    text-transform: capitalize;
    letter-spacing: -0.01em;
}

.slider__content h3 {
    font-family: "Legue Gothic Regular";
    font-size: 1.6em;
    text-transform: uppercase;
    color:  #edbfff;
    letter-spacing: -0.015em;
}

.slider__content p {
    font-family: "MyriadProLight";
    font-size: 1em;
    color: #dedede;
    margin-top: 0.5em;
}

.image-wrapper {
    float: right;
    width: 50%;
}

.slider__image {
    position: relative;
    outline: 2px solid #00ddd6 ;
    width: 20%;
}

.image__phone {
    display: block;
    position: absolute;
}

.image__phone--blur {
    width: 100%
    z-index: 1;
}

.image__phone--sharp {
    z-index: 10;
    width: 100%
}

.image__phone--play {
    width: 30%;
    z-index: 20;
}
