@font-face {
    font-family: "Legue Gothic Regular";
    src: url('../fonts/LeagueGothic/LeagueGothicRegular.eot');
    src: url('../fonts/LeagueGothic/LeagueGothicRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LeagueGothic/LeagueGothicRegular.woff') format('woff'),
    url('../fonts/LeagueGothic/LeagueGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyriadPro Regular";
    src :url('../fonts/MyriadPro/MyriadProRegular.eot');
    src: url('../fonts/MyriadPro/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProBold";
    src :url('../fonts/MyriadProBold/myriad-pro-bold.eot');
    src: url('../fonts/MyriadProBold/myriad-pro-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadProBold/myriad-pro-bold.woff') format('woff'),
    url('../fonts/MyriadProBold/myriad-pro-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "MyriadProLight";
    src :url('../fonts/MyriadPro_light/myriadpro-light-webfont.eot');
    src: url('../fonts/MyriadPro_light/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro_light/myriadpro-light-webfont.woff') format('woff'),
    url('../fonts/MyriadPro_light/myriadpro-light-webfont.ttf') format('truetype'),
    url('../fonts/MyriadPro_light/myriadpro-light-webfont.svg#MyriadProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Georgia"
    src:url(../fonts/Georgia.ttf)format('truetype');
}
body{
    font-family:Arial, sans-serif;
    font-size: 16px;
}

header {
    background: url(../img/background.jpg) no-repeat;
    text-align: center;
    text-align: center;
    padding-bottom: 70px;
    border-bottom:  1px solid #262526;
    background-position: top;
    margin: 0 auto;
}



.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    margin: 0 auto ;
    width: 87.5% ;
}

.header {
    font-family:  "Legue Gothic Regular";
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    padding-top: 80px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.header--ER {
    font-family: inherit;
}

.menu--head {
    margin-top: 25px;
}

.header-nav-submenu {
    display: none;
    position: absolute;
}

.menu--head > .menu__item--submenu:hover > .header-nav-submenu {
    display: block;
    background: rgba(62, 50, 71, 0.9);
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    border: 1px solid black;
    left: -1px;
    border-top: none;
    top: 37px;
}

.header-nav-submenu:last-child{
    border-radius: 0 0 10px 10px;
}

.submenu__item:hover {
    background: rgba(47, 38, 52, 0.9);
    border-bottom: 1px solid #36283e;
    box-sizing: border-box;
    border-top: 1px solid #503d58;
}

.menu__item--submenu{
    position: relative;
}

    .menu__item--submenu:hover {
    background-color: rgba(62, 50, 71, 0.9);
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 1px solid #000;
    border-bottom: 1px solid #36283e;
}

.menu__item--submenu:hover > a {
    text-shadow: 0 0 3px white;
    border-bottom:  2px solid #d899e8;
}
.submenu__item:hover >a {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid  #d899e8;
    height: 98%;
    margin-bottom: -2px;
}

.submenu__item:last-child:hover{
    border-radius: 0 0 10px 10px;
}

.submenu__item:last-child:hover > a{
    width: 90%;
}

.submenu__item{
    border-top: 1px solid #523f5a;
    border-bottom: 1px solid #3e3146;
}
.submenu__item:last-child{
    border-bottom: none;
}

.menu__link {
    color: white;
    font-family: "Legue Gothic Regular";
    font-size: 1.5em;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link--mainpage{
    border-bottom:  2px solid #d899e8;
}

.menu-line {
    display: none;
}

.slider {
    margin-top: 20px;
}

.slider__container {
    width:98%;
    margin:0 auto;
    position:relative;
    height:100%;
}
.slider__arrow__wrapper {
    width: 98%;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.arrow {
    position: absolute;
    width: 37px;
    height: 40px;
    cursor: pointer;
    top: 43%;
}

.arrow--left {
    background:url(../img/sprite_icon.png) 0 0 no-repeat;
    left:7px;
}

.arrow--right {
    background: url(../img/sprite_icon.png) -43px 0 no-repeat;
    right: 3px;
    /* top: 44%; */;;
}


.header--slider2{
    font-family: "Legue Gothic Regular";
    font-size: 1.875em;
    text-transform: capitalize;
    color: #fff;
}

.header--slider3 {
    font-family: "Legue Gothic Regular";
    font-size: 1em;
    text-transform: uppercase;
    color:  #d899e8;
}

.slider-content p {
    display: none;
}

.image-wrapper {
    display: none;
}

.bullet-container {
    margin-top: 115px;
}

.bullet {
    height: 10px;
    width: 10px;
    background: rgba(50, 50, 50, 0.5);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;

}

.bullet-inner {
    height: 6px;
    width: 6px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(96%,        rgba(209,209,209,1)), color-stop(100%, rgba(219,219,219,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 96%, rgba(219,219,219,1)    100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',    GradientType=0 );
    border-radius: 3px;
    margin-top: 2px;
    margin-left:2px;
}

.description-company {
    background: rgba(116,80,131,1);
    background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
    background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
    padding-bottom: 70px;
    padding-top: 70px;
}

.section-content {
    position: relative;
    padding-bottom: 20px;
    padding-left: 40px;
    width: 90%;
}

.section-content--left {
    float: left;
    margin-left: 5px;
}

.float-content-wrapper{
    padding-bottom: 50px;
    padding-left: 20px;
}

.img-content {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    float: left;
    margin-left: -40px;
    /* margin-left: 80px; */;
}
.header--content {
    color: #454545;
    text-shadow: 1px -1px  #a8a8a8;
    font-size: 1.1875em;
    padding: 0;
}
.pink{
    color: #edbfff;
    text-shadow: 1px -1px  #f4d4fc;
    line-height: 1.5em;
}
.pers-opinion {
    background-color: white;
}
.img-content--tool {
    background: url(../img/sprite_icon.png) -2px -48px no-repeat;
}

.img-content--dialog {
    background: url(../img/sprite_icon.png) -2px -48px no-repeat;
}

.img-content--note {
    background: url(../img/sprite_icon.png) -2px -48px no-repeat;
}

.img-content--dialog {
    background: url(../img/sprite_icon.png) -49px -50px no-repeat;
}

.img-content--note {
    background: url(../img/sprite_icon.png)-95px -48px no-repeat;
}

.text-content {
    font-family:  "MyriadProLight";
    font-size: 1em;
    display: inline-block;
    line-height:  1.5625em;
    overflow:  hidden;
    width:  90%;
}

.text-content--decoration {
    color: white;
    text-shadow: 1px 1px  #000;
}

.update-content--decoration {
    color: #3a3b3c;

}

.text-content h3 {
    font-family: "Legue Gothic Regular";
    font-size: 1.25em;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
    color: white;
}

.read-more-link {
    font-family: "Legue Gothic Regular";
    font-size: 1.125em;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
    color: white;
    float: right;
    text-transform: uppercase;
}

.read-more-link:hover {
    text-shadow: 0px 0px 10px white;
}

.reply-section {
    background-color: white;
    -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.5);
    padding-top: 30px;
    padding-bottom: 30px;
}
.reply-section img {
    position: absolute;
    top: 10px;
    left: -25px;
}
.bullet-container--updates {
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
}
.updates-section {
    background-color: #f9f9f9;
    padding-top: 71px;
}

/*section RECENT UPDATES*/

.section-content--blogs {
    padding-bottom: 90px;
    width: 91%;
}

.header-updates {
    font-family: "Legue Gothic Regular";
    font-size: 1.875em;
    text-transform: uppercase;
    color: #454545;
}

.blog-updates-list {
    width: 100.;
    padding-top: 28px;
}

.text-content--blog {
    font-family: "MyriadProLight";
}

.read-more-link--blog {
    font-size: 1.125em;
    color: #454545;
    text-shadow: none;
    padding-top: 15px;
    margin-right: 15px;;
}

.blogs-post-content {
    position: relative;
    padding-bottom: 2.5em;
    margin-left: 58px;
}

.blogs-post-content:last-child {
    padding-bottom: 0;
}

.link__blog {
    font-family: "Legue Gothic Regular";
    font-size: 1.125em;
    text-decoration: none;
    color: #454545;
    float: right;
    text-transform: uppercase;
    padding-top: 18px;
}

.link__blog:hover {
    text-shadow: 0 0 10px #454545;
}

.blogs-post-content h4 {
    font-family: "MyriadProBold"
}

.img-content-updates {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-image: url(../img/back_icon.jpg);
    left: -61px;
    top: -6px;
}

.img-content-updates--n1{
    background-position: 0 79px;
}

.img-content-updates--n2{
    background-position: 0 -63px;
}

.img-content-updates--n3{
    background-position: 0 -29px;
}

.bullet--pers{
    background-color: white;
    border: 1px solid #b0a9a9;
}

.bullet-inner--pers {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #45484d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

}

.header--category {
    padding-top: 0;
}

/*section BRANDS*/

.brand-section {
    background: #f9f9f9;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.5);
    padding-top: 55px;
    padding-bottom: 20px;
}
.brands{
    width: 220px;
    margin: 0 auto;
}

.brand-list{
    background-image: url(../img/brand_sprite.png);
    height: 65px;
    background-repeat: no-repeat;
    width:107px;
    margin-bottom: 60px;
    display: inline-block;;
}

.brand-list--img1 {
    background-position: 18px;
}

.brand-list--img2 {
    background-position: -118px 0;
}

.brand-list--img3 {
    background-position: -251px 0;
}

.brand-list--img4 {
    background-position: -385px;
}

.brand-list--img5 {
    background-position: -526px 0;:
}

.brand-list--img6 {
    background-position: -683px;
}

.categories {
    padding-top: 85px;
    padding-bottom: 26px;
    background-color: #ececec;
}

.categories {
    display: none;
}
.category {
    padding-bottom: 64px;
}

.header--category {
    font-size: 1.5em;
    color: #454545;
    padding-bottom: 22px;
    padding-top: 0;
}

.visible_960px {
    display: none;
}

/*<<<<<<<<<<<<<FOOTER>>>>>>>>>>>>>>>>*/

.footer-block{
    display: none;
}

.footer-menu {
    display: none;
}

footer {
    background-image: url(../img/footer_background.jpg);
    height: 200px;
    padding-top: 40px;
    background-position: 0;
}

.design_text {
    font-family: "MyriadProLight";
    font-size: 0.75em;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    text-align: center;
}

.design_text--bold {
    font-family: "MyriadProBold";
}
.menu--footer {
    margin: 0 auto;
    margin-bottom: 40px;
    display: none;
}
.menu__item--footer {
    float: left;
    margin-right: 25px;
}
.menu__item--footer:last-child{
    margin-right: 0;
}


.menu__link--footer {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
