doctype html
include includes/head.pug
body
  header
    .main-content-wrapper
      .login-panel
        h2.logo.logo_main URLAUBSGLÜCK
        .signin_panel
          .button.button_plain Log in
          .button.button_bordered Sign up


