#todo-input {
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 460px;
}

ul {
    margin: 0 auto;
    padding: 0;
}

.todo-task {
    list-style: none;
    margin: 0px auto 10px auto;
}

.todo-decor {
    font-family: "Ubuntu";
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    color: dimgray;
    padding: 20px 0 20px 20px;
    font-size: 15px;
}

p.todo-decor {
    width: 77.25%;
}

.todo-button-container {
    display: inline-block;
    width: 10%;
    .todo-button {
        width: 30px;
        height: 30px;
        border: 1px solid dimgray;
        border-radius: 15px;
        margin: 0 auto;
    }
}

.todo-descr-text {
    display: inline-block;
    margin: 0;
}

.shadowing {
    box-shadow: 0px 15px 30px 2px #d3cfcf;
}

.input-container {
    width: 77.25%;
    margin: 0 auto;
    box-sizing: border-box
}

.checked {
    background-image: url(../img/check.png);
    background-size: contain;
}

.remove {
    background-image: url(../img/close.png);
    background-size: contain;
}