body {
    background-color: #d4d1cc;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
}

.wrapper {
    width: 1000px;
    height: 2000px;
    border-right: 1px solid #adabab;
    border-left: 1px solid  #adabab;
    margin: 0 auto;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.jcarousel-wrapper {
    position: relative;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    width: 600px;
}

.jcarousel {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
}

.jcarousel li {
    float: left;
}

.jcarousel-cursor {
    display: block;
    text-decoration: none;
    top: 48%;
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    color: #b6b6b6;
    background-color: #5c5b60;
    font-size: 0.8em;
    text-align: center;
    line-height: 26px;
    /* padding-top: 5px; */
    /* padding-left: 5px; */;
}
.jcarousel-prev{
    left: 20px;
}

.jcarousel-next{
    right: 20px;
}

.jcarousel-pagination {
    position: absolute;
    top: 90%;
    left: 43%;
}

.jcarousel-pagination a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 4px;
    border-radius: 10px;
    border: 1px solid #9d9d9d;
    background-color: #2f2c2a;
}

.jcarousel-pagination .active {
    background-color: #f5f5f5;
}

header {
    margin: 0 auto;
}

.exercise {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainHeader {
    text-align: center;
    margin: 0 auto;
    color: #c86000;
    font-size: 3em;
}

.sectHeader {
    text-align: center;
    color: #c86000;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.css-check {
    position: absolute;
    clip: rect(0,0,0,0);
}

label {
    font-size: 0.8em;
    cursor: pointer;
}

.css-checkbox-label:before {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/checkbox-2.png);
    position: relative;
    top: 3px;
    margin-right: 5px;
}


.css-check:checked + .css-checkbox-label:before {
    background-position: 17px  -17px;
}

.css-checkbox-label:hover:before {
    background-position: -0px -34px;
}
.css-check:checked + .css-checkbox-label:hover:before {
    background-position: -0px -51px;
}

.checkbox-custom {
    background: url(../img/checkbox.png);
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    margin-left: 134px;
}

.checkbox-custom label {
    width: 120px;
    margin-left: 19px;
    display: block;
}

.checkbox-custom input {
    display: none;
}

.item {
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    color: #585858;
    text-decoration: none;
    line-height: 42px;
    display: block;
}

.item:hover{
    color: #d6d6d6;
    background-color: #f9b1a4;
}

.sub-menu-container:hover{
    color: #d6d6d6;
    background-color: #a4f9e9;
}

.nav-item {
    width: 90px;
    height: 40px;
    background-color: #f78769;
    margin-top: 3px;
    text-align: center;
}



.sub-menu-container {
    position: relative;
}

.nav-item{
    border: 1px solid #838383;
}

.nav-item1 {
    display: inline-block;
}

.sub-menu {
    position: absolute;
    top: 27px;
    left: 16px;
}

.sub-menu-title {
    font-size: 0.8em;
    color: #585858;
    line-height: 42px;
}

.menu-lev2 {
    z-index: 100;
}

.menu-lev3 {
    left: 71px;
    top: 26px;
    z-index: 110;
}

.menu {
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 39%;
    margin: 0 auto;

}
