body {
    background-color: #d4d1cc;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
}

.wrapper {
    width: 1000px;
    height: 2000px;
    border-right: 1px solid #adabab;
    border-left: 1px solid  #adabab;
    margin: 0 auto;
}

.wrapper--selectric {
    width: 600px;
    margin: 0 auto;
}

.jcarousel-wrapper {
    position: relative;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    width: 600px;
}

.jcarousel {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
}

.jcarousel li {
    float: left;
}

.jcarousel-cursor {
    display: block;
    text-decoration: none;
    top: 48%;
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    color: #b6b6b6;
    background-color: #5c5b60;
    font-size: 0.8em;
    text-align: center;
    line-height: 26px;
    /* padding-top: 5px; */
    /* padding-left: 5px; */;
}
.jcarousel-prev{
    left: 20px;
}

.jcarousel-next{
    right: 20px;
}

.jcarousel-pagination {
    position: absolute;
    top: 90%;
    left: 43%;
}

.jcarousel-pagination a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 4px;
    border-radius: 10px;
    border: 1px solid #9d9d9d;
    background-color: #2f2c2a;
}

.jcarousel-pagination .active {
    background-color: #f5f5f5;
}

header {
    margin: 0 auto;
}

.exercise {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainHeader {
    text-align: center;
    margin: 0 auto;
    color: #c86000;
    font-size: 3em;
}

.sectHeader {
    text-align: center;
    color: #c86000;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}
