@media(min-width: 320px) and (max-width: 767px)
  .main-content-wrapper
    width: 98%
    margin 0 auto
  
  .header
    .main-content-wrapper
      margin 0 auto
      width 95%
    margin-bottom: 10%
  
  .main
    .sliders-block
      .item__step
        font-size: 0.9em
      .item__topic
        font-size: 1em
      .item__textCont
        font-size: 0.8em
      .slick-arrow
        top 20%
    
    .partners
      flex-direction: column
      .partners-column
        display: flex
        width: 100%
      .partners-column:first-child
        padding-bottom 50px
    
    .search-block_form
      .input-search
        margin-left: 8%
  
  .footer
    .main-content-wrapper
      width: 80%
      margin 0 auto
    padding-bottom: 3%