@media(min-width: 320px) and (max-width: 767px)
  .main-content-wrapper
     margin 0 auto
     width 100%
    
  .partners
    flex-direction: column

  .partners-column
    display: flex
    width: 100%
  
  .partners-column:first-child
    padding-bottom 50px