@media (min-width: 768px) and (max-width: 1439px) 
  .main-content-wrapper
    margin: 0 auto;
    width: (940px/1440 * 100)%;
  
  .header 
    padding-top: 2.6%;
    padding-bottom: 16.3%;
    width: 100%;
    background-image: url('../img/HeaderCover.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 6.6%;
    
  .brandname_main 
    font-size: 1.428571429em;
    font-weight: bold;
    color: white;
    letter-spacing: 0.11em;
    line-height: 1.428571429em;
    float: left;
    margin-top: 1%;

  .partner
    width 50%
