@media (max-width: 320px)
    .main-content-wrapper
        width 100%
    .header
        margin-bottom: 30px

    .signin_panel
        display: block
        float: none
        width 188px
        margin-left auto
        margin-right auto
        margin-top:  5%
        margin-bottom 40%

        .button_login
            margin: 0
    .brandname_main
        width: 90%
        text-align: center
        margin 0  auto
        display: block
        float none    
    .topic
        width 95%
    .partners
        flex-direction: column

    .logo
        width: 100%    
        .slogan
            font-size: 2.1em
        .button 
            width: 81%
    
    .sliders
        display block
        margin-bottom: 30px
        .slick-arrow
            display none
        .sliders__item
            width 95%
            margin 0 auto
            margin-bottom 10px
        .item-inner
            overflow: hidden
            padding-bottom: 75%
        .item__topic
            font-size: 1.5em
        .item__textCont
            font-size: 1em
    .partners
        display: block
        margin-bottom: 50px
        .partners-column
            display block
            width: 100%
            padding-bottom: 0
            .partner
                width 100%
        .partners-button
            margin-bottom: 50px
    
    .gutter_sizer,
    .grid_item,
    .grid_item--width2 
        width: 95.5%
        height: 130px
        margin-left: 2.2%

    .search-block_form
        margin 0 auto
        width: 100%
        input 
            display block
        .input-search
            width 290px 
            margin 0 auto
            padding: 5% 2% 5% 5%
            margin-bottom: 20px
    
    .footer
        .footer-block
            float: none
            width: 100%
            .footer-barandname
                margin-bottom: 5%
            
            .footer-headers
                width: 100%
                text-align center
                margin-bottom: 5%
            
            .footer-leftblock-contacts
                float: none
                display: block
                .contacts
                    margin-top: 5%              
                
                .footer-contacts-list
                    display flex
                    justify-content: space-evenly
                    margin-bottom: 5%
                    .contacts-item
                        margin-top 0
            
            .footer-leftblock-partners
                float: none
                display: block
            .footer-logo
                display: block
                width 110px
                margin: 0 auto 5% 32.1%