body {
    // border-left 1px solid grey
    // border-right 1px solid grey
    // margin 0 auto
}

@media (min-width: 1440px) {
    .header {
        padding-top: 2.6%;
        padding-bottom: 16.3%;
        width: 100%;
        background-image: url('../img/HeaderCover.jpg');
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 6.6%;
    }

    .main-content-wrapper {
        margin: 0 auto;
        width: (940px/1440 * 100)%;
    }
}
