
@require './reset.css'
@require 'variables.styl'
@require 'fonts.styl'
@require 'stylesForDevices/minWidth1440px.styl'
@require 'stylesForDevices/768pxTo1399px.styl'
@require 'stylesForDevices/320pxTo767.styl'
@require 'stylesForDevices/maxWidth320px.styl'

body
    font-size: 14px

.logo
    font-family: Montserrat 

.logo_main 
    font-size: 1.428571429em
    font-weight: bold
    color: white

.button
    font-family: Montserrat
    font-size 1em
    color white
