@media (min-width: 768px) and (max-width: 991px){
  .wrapper {
    margin: 0 auto;
  }

  header .header-nav-menu ul li{
    display: block;
  }

  header nav.header-nav-menu {
    height: 60px;
    position: relative;
  }

  header nav.header-nav-menu ul.main-menu {
    position: absolute;
    display: none;
    z-index: 1000;
    top:60px;
    width: 100%;
    height: 0px;
    transition: height 0.5s ease 0.3s;
  }

  header nav.header-nav-menu:hover ul.main-menu {
    height: 100%;
  }

  nav .header-button-menu-760 {
    width: 30px;
    height: 30px;
    background-color: #373737;
    position: absolute;
    top: 5px;
    left: 5px;
    padding:10px;
  }
  header nav .header-button-menu-760_active {
    background-color: #7c7a81;
  }

  header nav.header-nav-menu li.main-menu-item {
    background: #2a2d32;
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    border-right: none;
  }

  header li.main-menu-item--current {
    display: block;
    background-color:rgb(24, 96, 218);
  }

  header nav.header-nav-menu ul:hover li.main-menu-item {
    display: block;
  }

  header nav.header-nav-menu ul:hover li.main-menu-item:hover {
    background-color:  #373737;
    color: rgb(226, 199, 20);
  }

  header .header-nav-search {
    width: 70%;
  }

  main {
    .technologies {
      display: block;
      .technology {
        display: flex;
        width: 100%;
        align-content: flex-start;
        margin-bottom: 40px;
      }

      .services {
        
      }
    }
  }
}
