@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Light";
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf) format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Condensed";
  src: url(../fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
