footer {
  .footer-info {
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: rgb(42, 45, 50);
  }

  .footer-contacts {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #35383c;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.info-block {
  width: 260px;
}

.info-block-header {
  color: #fff;
  font: 16px Arial;
  font-weight: bold;
  text-transform: uppercase;
}

.info-menu {
  padding-left: 0;
}

.info-tip {
  border-bottom: 1px solid #393c40;
  height: 35px;
  list-style: none;
}

.info-tip:last-child {
  border-bottom: none;
}

.info-link {
  color: #7c7e80;
  font: 13px Arial;
  line-height: 35px;
  text-decoration: none;
}

.info-link:hover {
  color: #248cec;
}

.left-block {
  float: left;
}

.sideblock-decoration {
  color: #5d6063;
  display: inline-block;
  font: 12px Arial;
}
.left-block > .sideblock-decoration {
  margin-right: 15px;
}

.sideblock-decoration  a {
  color: inherit;
  text-decoration: none;
}

.right-block {
  float: right;
}
