.wrapper {
  margin: 0 auto;
  width: 1160px;
}

header {
  .logo {
    display: inline-block;
  }
  .name {
    display: inline-block;
  }

  .brand-symbol {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/icons.png) 0 0 no-repeat;
  }

  .firm-name {
    font-family: 'Ubuntu-Regular';
    font-size: 30px;
    line-height: 0px;
    text-transform: capitalize;
  }

  .firm-description {
    font: 12px "Ubuntu-Light";
    font-stretch: semi-expanded;
    font-weight: lighter;
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-left: 3px;
  }

  .social-network {
    display: inline-block;
    margin-top: 0.7%;
    float: right;
  }

  .social-network-list {
    float: right;
  }

  .social-network ul{
    margin-left: 0;
  }

  .soc-net{
    display: inline-block;
    list-style:none;
    cursor: pointer;
  }

  .soc-net a {
    display: block;
    height: 17px;
    width: 18px;
  }

  .soc-net--facebook a {
    background: url(../img/socialNetworks.png) 8px 0px no-repeat;
    transition: background-position 0.3s ease-out 0.1s;
  }

  .soc-net--twitter a {
    background: url(../img/socialNetworks.png) -8px 0 no-repeat;
    transition: background-position 0.3s ease-out 0.1s;
  }

  .soc-net--rss a {
    background: url(../img/socialNetworks.png) -26px 0 no-repeat;
    transition: background-position 0.3s ease-out 0.1s;
  }

  .soc-net--linkdin a {
    background: url(../img/socialNetworks.png) -44px 0 no-repeat;
    transition: background-position 0.3s ease-out 0.1s;
  }

  .soc-net--skype a {
    background: url(../img/socialNetworks.png) -62px 0 no-repeat;
    transition: background-position 0.3s ease-out 0.1s;
  }

  .soc-net--facebook a:hover {
    background: url(../img/socialNetworks.png) 8px -19px no-repeat;
  }

  .soc-net--twitter a:hover {
    background: url(../img/socialNetworks.png) -8px -19px no-repeat;
  }

  .soc-net--rss a:hover {
    background: url(../img/socialNetworks.png) -26px -19px no-repeat;
  }

  .soc-net--linkdin a:hover {
    background: url(../img/socialNetworks.png) -44px -19px no-repeat;
  }

  .soc-net--skype a:hover {
    background: url(../img/socialNetworks.png) -62px -19px no-repeat;
  }

  .nav-search-tabs {
    background-color: #2a2d32;
  }

  .header-nav-menu{
    width: 100%;
    height: 60px;
    line-height: 1px;
    position: relative;
  }

  ul.main-menu {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 650px;
    float: left;
  }

  .main-menu li {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 125px;
    border-right: 1px solid black;
    text-transform: uppercase;
  }

  .header-nav-menu li:first-child {
    background-color: #3399ff;
  }

  .header-nav-menu li a {
    font: 14px "Ubuntu-Condensed";
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    display: block;
  }

  .header-nav-menu li a:hover {
    color: #f4b60d;
  }

  .header-nav-search {
    height: 40px;
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

  .header-nav-search input[type="search"] {
    font: 14px "Ubuntu-Light";
    color: rgba(157, 157, 157, 0.95);
    height: 40px;
    width: 100%;
    background-color: #35383c;
    border: none;
    padding-left: 2%;
  }

  .header-nav-search input[type="submit"] {
    height: 30px;
    width: 30px;
    background-color: #282828;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    border: 0;
    margin: 0;
  }

  .header-nav-search .fa-search {
    color: rgb(122, 122, 122);
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .fa-search {
    color: #2a2d32;
    margin-right: -5px;
    margin-top: -5px;
  }

  #header-button-menu-760 {
    display: none;
  }
}
