.slider {
  margin-bottom: 75px;
  position: relative;

  .owl-dots {
    height: 40px;
    position: absolute;
    top: 90%;
    left: 50%;
  }

  .owl-dot {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #b3b3b3;
    border-radius: 8px;
  }

  .owl-dot:not(:first-child) {
    margin-left: 10px;
  }

  .owl-dot.active {
    background-color: #222;
  }

  .owl-nav {
    .owl-next,
    .owl-prev {
      position: absolute;
      top: 37%;
    }

    .owl-prev {
      left: 5%;
    }

    .owl-next {
      right: 5%;
    }

    .chevrons {
      font-size: 50px;
      color: #8a9296;
    }
  }
}

.technologies {
  margin-bottom: 115px;
  display: flex;

  .technology {
    font-family: "Ubuntu-Regular";
    display: flex;

    .tech-numb {
      font-size: 85px;
      font-weight: bold;
      line-height: 0.8;
      margin-right: 15px;
      color: #e9e9ea;
    }

    .tech-info-block {
      .tech-logo {
        height: 36px;
        width: 36px;
        background-image: url("../img/icons.png");
      }

      .tech-logo_power {
        background-position: -40px 0;
      }

      .tech-logo_newtech {
        background-position: -75px 0;
      }

      .tech-logo_support {
        background-position: -109px 0;
      }

      .tech-name {
        font-size: 20px;
        text-transform: capitalize;
      }

      .tech-desc {
        font-family: "Ubuntu-Light";
        font-size: 13px;
        color: #8a8a8a;
      }

      .tech-more-read {
        .read-more {
          font-size: 13px;
          color: black;
          text-decoration: none;
          text-transform: capitalize;
        }

        .read-more:hover {
          color: #3af;
        }
      }
    }
  }

  .technology:not(:last-child) {
    margin-right: 1.5%;
  }
}

.services-container {
  background-color: #2a2d32;
  padding-top: 45px;
  padding-bottom: 65px;
}

.services {
  text-transform: capitalize;
  font-family: "Ubuntu-Regular";
  color: white;

  .sec-tag {
    font-size: 24px;
    line-height: 0.833;
    margin-top: 0;
  }

  .service-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .services-subcontainer {
      display: inline-flex;
      justify-content: space-between;

      .service:nth-child(1) {
        margin-right: 40px;
      }

      .service {
        position: relative;
        display: inline-block;

        .serv-img {
          width: 260px;
          height: 260px;
          cursor: pointer;
        }

        .serv-img_shedule {
          background: url("../img/pictures.jpg") 0 0;
        }

        .serv-img_maintance {
          background: url("../img/pictures.jpg") -300px 0;
        }

        .serv-img_wheel {
          background: url("../img/pictures.jpg") -599px 0;
        }

        .serv-img_repair {
          background: url("../img/pictures.jpg") -900px 0;
        }

        .add-service-modal {
          visibility: hidden;
          position: absolute;
          width: 260px;
          height: 260px;
          background-color: rgba(55, 129, 255, 0.7);
        }

        .serv-img:hover .add-service-modal {
          visibility: visible;
        }

        .fa-plus {
          position: absolute;
          top: 110px;
          left: 110px;
          color: white;
        }

        h4.serv-name {
          text-align: center;
          padding-bottom: 0;
          -webkit-margin-after: 0;
        }
      }
    }
  }
}

.news {
  background-color: #f7f7f7;
  padding-top: 65px;
  padding-bottom: 65px;

  .news-wrapper-block {
    display: flex;
  }
}

.news-block {
  width: 565px;
}

.section-title {
  font-family: 'Ubuntu-Regular';
  font-size: 24px;
  text-transform: capitalize;
  color: #2a2d32;
}

.news-tip {
  .news-logo {
    position: relative;
    display: inline-block;
  }
}

.news-img {
  width: 150px;
  height: 150px;
}

.news-date {
  font-family: 'Ubuntu-Regular';
  color: white;
  position: absolute;
  top: 15px;
  left: -15px;

  .date {
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: #f4b60d;
    text-align: center;

    span {
      line-height: 40px;
    }
  }

  .month {
    font-size: 15px;
    text-transform: capitalize;
    width: 40px;
    height: 40px;
    background-color: #248cec;
    text-align: center;

    span {
      line-height: 40px;
    }
  }
}

.news-description {
  font: 12px Arial;
  color: #8a8a8a;
  display: inline-block;
  width: 380px;
  height: 150px;

  h6 {
    margin: 0 0 10px;
  }

  a {
    color: #248cec;
    text-decoration: none;
  }

  .news-author {
    margin-bottom: 25px;
  }
}

.news-descript-title {
  font: 16px "Ubuntu-Regular";
  text-transform: capitalize;

  a {
    color: #2a2d32;
    text-decoration: none;

    &:hover {
      color: #248cec;
    }
  }

  span {
    text-transform: lowercase;
  }
}

.news-text {
  line-height: 1.538em;
}

.accordions-block {
  width: 565px;
  font-family: 'Ubuntu-Regular';
}

.accordion-item {
  margin-bottom: 10px;
}

.acco-title {
  height: 38px;
  width: 515px;
  padding-left: 20px;
  border: 1px solid #9f9f9f;
  display: inline-block;
  box-sizing: border-box;
  user-select: none;
}

.acco-button {
  width: 38px;
  height: 38px;
  border: 1px solid #9f9f9f;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.acco-active {
  background-color: #f4b60d;
  color: white;
}

.acco-disactive {
  background-color: white;
  color: #898a8c;
}

.acco-button-active {
  content: "-";
}

.acco-text {
  font:  12px Arial;
  color: #8a8a8a;
  line-height: 1.538;
  width: 515px;
  height: 125px;
  margin-left: 50px;
  margin-bottom: 5px;
}

.text-hidden {
  height: 0;
  overflow: hidden;
}

.acco-title-text {
  font: 13px 'Ubuntu-Regular';
  line-height: 40px;
  text-transform: uppercase;
}
