/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.css";
@import  "../../node_modules/bootstrap-grid/dist/grid.min.css";
/*************************************************************/
@import "./partials/fonts.scss";
/*************************************************************/

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
  .header-nav-menu li{
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .wrapper {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .wrapper {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    margin: 0 auto;
    width: 1160px;
  }
}
/***************************************************************/
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
/***************************************************************/
@import "./partials/header.scss";
@import "./partials/main.scss";
@import "./partials/footer.scss";
