<footer>

  <div class="footer-info">
    <div class="wrapper footer-container">

      <section class="info-block info-block-social">
        <h4 class="info-block-header">socials</h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-linck">Facebook</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Flickr</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Twitter</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Vimeo</a></li>
          </ul>
        </nav>
      </section>

      <section class="info-block info-block-links">
        <h4 class="info-block-header">links</h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-linck">How to Write a Blog</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Createa Blog in 4 Steps</a></li>
            <li class="info-tip"><a href="#" class="info-linck">15 Tips to Increase Traffic</a></li>
            <li class="info-tip"><a href="#" class="info-linck">20 Blog Post Ideas</a></li>
          </ul>
        </nav>
      </section>

      <section class="info-block info-block-blogroll">
        <h4 class="info-block-header">blogroll</h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-linck">Blogs Blog</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Roll Up Roll Up</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Blog Free</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Wordpress Blog</a></li>
          </ul>
        </nav>
      </section>

      <section class="info-block info-block-about_us">
        <h4 class="info-block-header">about us</h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-linck">Agriculture</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Harvest</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Company News</a></li>
            <li class="info-tip"><a href="#" class="info-linck">Investors Relations</a></li>
          </ul>
        </nav>
      </section>
    </div>
  </div>

  <div class="footer-contacts">
    <div class="wrapper">

    </div>
  </div>

</footer>
