<footer>

  <div class="footer-info">
    <div class="wrapper footer-container">

      <section class="info-block info-block-social">
        <h4 class="info-block-header"></h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
          </ul>
        </nav>
      </section>

      <section class="info-block info-block-links">
        <h4 class="info-block-header"></h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
          </ul>
        </nav>
      </section>

      <section class="info-block info-block-blogroll">
        <h4 class="info-block-header"></h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
          </ul>
        </nav>
      </section>

      <section class="info-block info-block-aboutUs">
        <h4 class="info-block-header"></h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
            <li class="info-tip"><a href="#" class="info-linck"></a></li>
          </ul>
        </nav>
      </section>
    </div>
  </div>

  <div class="footer-contacts">
    <div class="wrapper">

    </div>
  </div>

</footer>
