<footer>

  <div class="footer-info">
    <div class="wrapper footer-container">

      <section class="info-block info-block-social">
        <h4 class="info-block-header">socials</h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-link">Facebook</a></li>
            <li class="info-tip"><a href="#" class="info-link">Flickr</a></li>
            <li class="info-tip"><a href="#" class="info-link">Twitter</a></li>
            <li class="info-tip"><a href="#" class="info-link">Vimeo</a></li>
          </ul>
        </nav>
      </section>

      <section class="info-block info-block-links">
        <h4 class="info-block-header">links</h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-link">How to Write a Blog</a></li>
            <li class="info-tip"><a href="#" class="info-link">Createa Blog in 4 Steps</a></li>
            <li class="info-tip"><a href="#" class="info-link">15 Tips to Increase Traffic</a></li>
            <li class="info-tip"><a href="#" class="info-link">20 Blog Post Ideas</a></li>
          </ul>
        </nav>
      </section>

      <section class="info-block info-block-blogroll">
        <h4 class="info-block-header">blogroll</h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-link">Blogs Blog</a></li>
            <li class="info-tip"><a href="#" class="info-link">Roll Up Roll Up</a></li>
            <li class="info-tip"><a href="#" class="info-link">Blog Free</a></li>
            <li class="info-tip"><a href="#" class="info-link">Wordpress Blog</a></li>
          </ul>
        </nav>
      </section>

      <section class="info-block info-block-about_us">
        <h4 class="info-block-header">about us</h4>
        <nav class="info-block-nav">
          <ul class="info-menu">
            <li class="info-tip"><a href="#" class="info-link">Agriculture</a></li>
            <li class="info-tip"><a href="#" class="info-link">Harvest</a></li>
            <li class="info-tip"><a href="#" class="info-link">Company News</a></li>
            <li class="info-tip"><a href="#" class="info-link">Investors Relations</a></li>
          </ul>
        </nav>
      </section>
    </div>
  </div>

  <div class="footer-contacts">
    <div class="wrapper clearfix">
      <address class="left-block">
        <div class="sideblock-decoration">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>BuildHomeLtd.  Street Name 123   23 45 Cityname</span>
        </div>
        <div class="sideblock-decoration">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <span>+123 900 123 456</span>
        </div>
        <div class="sideblock-decoration">

          <a href="mailto:info@buildhome.web"><i class="fa fa-envelope" aria-hidden="true"></i>info@buildhome.web</a>
        </div>
      </address>
      <div class="right-block">
        <div class="sideblock-decoration">
        <span>&copy; 2014 Build Home</span>
        </div>
      </div>
    </div>
  </div>

</footer>
