<main class="main-content">

	<div id="slider" class="slider wrapper">
		<div class="owl-carousel">
			<img src="img/carousel/London-Audio-Visual-Rolls-Royce-3-1160x470.jpg" alt="img-3">
			<img src="img/carousel/London-Audio-Visual-Rolls-Royce-4-1160x470.jpg" alt="img-4">
			<img src="img/carousel/London-Audio-Visual-Rolls-Royce-6-1160x470.jpg" alt="img-6">
		</div>
	</div>

	<div class="technologies wrapper ">
		<section class="technology">
			<div class="tech-numb wow bounceIn animated" data-wow-duration="0.9s" data-wow-delay="0.2s">01</div>
			<div class="tech-info-block">
				<div class="tech-logo tech-logo_power"></div>
				<h4 class="tech-name">power inside</h4>
				<p class="tech-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolore minima nihil similique rem. Pariatur delectus, in vel dolorem, neque qui perspiciatis commodi ullam mollitia!</p>
				<dev class="tech-more-read"><a href="#" class="read-more">read more &rarr;</a></dev>
			</div>
		</section>

		<section class="technology">
			<div class="tech-numb wow bounceIn animated" data-wow-duration="0.9s" data-wow-delay="0.4s">02</div>
			<div class="tech-info-block">
				<div class="tech-logo tech-logo_newtech"></div>
				<h4 class="tech-name">new technologies</h4>
				<p class="tech-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolore minima nihil similique rem. Pariatur delectus, in vel dolorem, neque qui perspiciatis commodi ullam mollitia!</p>
				<dev class="tech-more-read"><a href="#" class="read-more">read more &rarr;</a></dev>
			</div>
		</section>

		<section class="technology">
			<div class="tech-numb wow bounceIn animated" data-wow-duration="0.9s" data-wow-delay="0.5s">03</div>
			<div class="tech-info-block">
				<div class="tech-logo tech-logo_support"></div>
				<h4 class="tech-name">fast support</h4>
				<p class="tech-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolore minima nihil similique rem. Pariatur delectus, in vel dolorem, neque qui perspiciatis commodi ullam mollitia!</p>
				<dev class="tech-more-read"><a href="#" class="read-more">read more &rarr;</a></dev>
			</div>
		</section>
	</div>

	<div class="services-container ">
		 <section class="services wrapper">
			<h3 class="sec-tag">services</h3>
			<div class="service-container">
<!-- опрацювати це місце. субконфтейнери вилазять за межі і цим розтягують блок
 -->
				<div class="services-subcontainer">
					<div class="service wow bounceIn animated" data-wow-duration="0.9s" data-wow-delay="0.2s">
						<div class="serv-img serv-img_shedule">
							<div class="add-service-modal"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
						</div>
						<h4 class="serv-name">shedule services</h4>
					</div>
					<div class="service wow bounceIn animated" data-wow-duration="0.9s" data-wow-delay="0.4s">
						<div class="serv-img serv-img_maintance">
							<div class="add-service-modal"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
						</div>
						<h4 class="serv-name">preventive maintance</h4>
					</div>
				</div>

				<div class="services-subcontainer">
					<div class="service wow bounceIn animated" data-wow-duration="0.9s" data-wow-delay="0.55s">
						<div class="serv-img serv-img_wheel">
							<div class="add-service-modal">
								<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
							</div>
						</div>
						<h4 class="serv-name">tire & wheel services</h4>
					</div>
					<div class="service wow bounceIn animated" data-wow-duration="0.9s" data-wow-delay="0.65s">
						<div class="serv-img serv-img_repair">
							<div class="add-service-modal"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
						</div>
						<h4 class="serv-name">repair services</h4>
					</div>
				</div>

			</div>
		</section>
	</div>


	<section class="news"></section>
</main>
