head
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Title
    //- link(rel="stylesheet", href="css/libraries/slick.css")
    //- link(rel="stylesheet", href="css/libraries/slick-theme.css")
    link(rel="stylesheet", href="css/style.css")
    script(src="js/libraries/jquery.js")
    script(src="js/libraries/slick.min.js")
    script(src="js/libraries/masonry.pkgd.min.js")
    script(src='js/libraries/jquery-imagefill.js')
    script(src="js/libraries/imagesloaded.js")
    script(src="js/main.js")
    