- 
    var sliderItemsContent = [{
        imgLnk: ['img/mac.jpg','img/driver.jpg','img/legs.jpg'],
        step: 'step 1',
        topic: 'Lorem ipsum dolor sit amet.',
        textCont: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam soluta eius rerum earum delectus!'
    },{
        imgLnk: ['img/driver.jpg','img/legs.jpg','img/mac.jpg'],
        step: 'step 2',
        topic: 'Lorem, ipsum dolor.',
        textCont: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita inventore doloribus debitis.'
    },{
        imgLnk: ['img/legs.jpg','img/mac.jpg','img/driver.jpg'],
        step: 'step 3',
        topic: 'Lorem ipsum dolor sit amet.',
        textCont: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ratione laboriosam enim?'
    }];
-
    var partners = [{
        img: 'img/face-1.jpg',
        svgClass: 'svg-icon-tv',
        name: 'Bradley Hunter',
        slogan: 'Based in Chicago. I love playing tennis and loud music.'
    },
    {
        img: 'img/face-2.jpg',
        svgClass: 'svg-icon-cup',
        name: 'Heather Walker',
        slogan: "I'm a happy person that loves cats and climbing on mountains. "
    },
    {
        img: 'img/face-3.jpg',
        svgClass: 'svg-icon-colb',
        name: 'Lucas Marsha',
        slogan: 'I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.'
    },
    {
        img: 'img/face-4.jpg',
        svgClass: 'svg-icon-paperplane',
        name: 'Breadle Hunter',
        slogan: 'Based in Chicago. I love playing tennis and loud music.'
    }];
-
    var grid = [{
        imgSrc: 'img/masonry/remarkable-changes-after-traveling.jpg',
        itemRelativeWidth: '1'
    },{
        imgSrc: 'img/masonry/travel-partner.jpg',
        itemRelativeWidth: '1'
    },{
        imgSrc: 'img/masonry/travel-insurance-bag.jpg',
        itemRelativeWidth: '1'
    },{
        imgSrc: 'img/masonry/basic-spanish-travel-phrases-traveler-learn.jpg',
        itemRelativeWidth: '1'
    },{
        imgSrc: 'img/masonry/150324_flights-hero-image_1330x742-3.jpg',
        itemRelativeWidth: '2'
    },{
        imgSrc: 'img/masonry/travel.jpeg',
        itemRelativeWidth: '2'
    },{
        imgSrc: 'img/masonry/work-travel.jpg',
        itemRelativeWidth: '1'
    }];