- 
    var sliderItemsContent = [{
        imgLnk: ['img/mac.jpg','img/driver.jpg','img/legs.jpg'],
        step: 'step 1',
        topic: 'Lorem ipsum dolor sit amet.',
        textCont: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam soluta eius rerum earum delectus!'
    },{
        imgLnk: ['img/driver.jpg','img/legs.jpg','img/mac.jpg'],
        step: 'step 2',
        topic: 'Lorem, ipsum dolor.',
        textCont: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita inventore doloribus debitis.'
    },{
        imgLnk: ['img/legs.jpg','img/mac.jpg','img/driver.jpg'],
        step: 'step 3',
        topic: 'Lorem ipsum dolor sit amet.',
        textCont: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ratione laboriosam enim?'
    }]